
<!--
https://developers.facebook.com/tools/debug/sharing/
https://cards-dev.twitter.com/validator

og:image
    So sollte es sein: mind. 1200 x 630 Pixel mit einem 1,91:1 Format - Bild wird groß im Newsfeed angezeigt, auch auf hochauflösenden Geräten ist die Darstellung sehr gut
    Ok: 600 x 315 Pixel - Bild wird groß im Newsfeed angezeigt, Darstellung auf hochauflösenden Geräten ist jedoch nicht ideal - in Ordnung, wenn Bild nicht in höherer Auflösung verfügbar
    Minimum: 200 x 200 Pixel - Bild wird als kleines Quadrat angezeigt - nicht zu empfehlen


-->
	
	<meta name="twitter:site" content="{{ .Site.Params.twittersite }}" />
	<meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}" />
	<meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
	<meta name="twitter:url" content="{{ .Permalink }}" />
	<meta name="twitter:image" content="{{ if .IsHome }}{{ .Site.Params.image | absURL }}{{ else }}{{ with .Params.image }}{{ . | absURL }}{{ end }}{{ end }}" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:creator" content="{{ .Site.Params.author }}">
	
	<meta name="og:site_name" content="{{ .Site.Title }}" />
	<meta name="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}" />
	<meta name="og:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
	<meta name="og:url" content="{{ .Permalink }}" />
	<meta name="og:image" content="{{ if .IsHome }}{{ .Site.Params.image | absURL }}{{ else }}{{ with .Params.image }}{{ . | absURL }}{{ end }}{{ end }}" />
	
	<meta property="og:locality" content="Erlangen"/>
	<meta property="og:country-name" content="Germany"/>
	<meta property="og:latitude" content="49.5871652"/>
	<meta property="og:longitude" content="11.0142710"/>
	<meta property="og:locale" content="{{ if eq .Params.langCode "de" }}de_DE{{ else }}en_US{{ end }}"/>
	<meta property="og:type" content="website"/>
	<meta property="og:site_name" content="stuehler.coach"/>


