<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
{{ with .Site.LanguageCode }}<html lang="{{ . }}" />{{ end }}
    <head>
        {{ partial "singlehead.html" .}}
    </head>
    <body>
        {{ partial "singlenav.html" .}}

		{{ partial "singlehero.html" .}}
		
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row" id="singlerow">
						<div class="col-md-8 col-md-offset-2">
							<!-- <h1 class="to-animate">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</h1> -->
							<!-- <h2 class="to-animate">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</h2> -->
							{{ .TableOfContents }} </br>
							{{ .Description }}</br>
							{{ .Data }}</br>
							{{ .WordCount }}</br>
							{{ .FuzzyWordCount }}</br>
							{{ .ReadingTime }}</br>
							{{ .Summary }}</br>
							{{ .Keywords }}</br>
							{{ .Params.tags }}</br>
							{{ .Params.categories }}</br>
							
							{{ delimit .Keywords ", " }}

{{ range $.Site.Data.quotes }}
	<ul>
	{{ range .quote | shuffle }}
	  <li>{{ . }}</li>
	{{ end }}
	</ul>
{{ end }}
							
							{{ .Content | markdownify }}
							
							
						</div>
					</div>
				</div>
			</div>
		</div>		


        {{ if .Site.Params.footer.enable }}
        	{{ partial "footer.html" .}}
        {{ end }}

        {{ partial "js.html" .}}
    </body>
</html>